// Variables
// Color primaries
@p1 : #c90000;
@p2 : #0f00b8;
//Color Secondary
@s1 : #020207;
@s2 : #53616f;
@s3 : #c90000; 
@s4 : #0f00b8;
@s5 : #e3e3e3;
@s6 : #000;
// Color pointers
@website-bg: @s5;
@nav-bg: @p2;
@nav-font-color: @s1;
@nav-border: @s5;
@header-font-color: @s1;
@main-font-color: @s1;
@main-border-color: @s4;

@footer-background: @s5;
@footer-font-color: @s2;
@btn-bg-color:@s1;
@border-real: #dee2e6;
// Mobile var
@phone: ~"(max-width:500px)";
//font var
@header-font: 'Source Sans Pro';
@header-font-backup: sans-serif;
@text-font: 'Open Sans';
@text-font-backup: sans-serif;